.container {
  padding: 1rem;
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 40px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer {
  flex: 1;
  height: 300px;
  position: relative;
}

.image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
  .content{
    color:#fff;
  }
}