.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 2rem;
    padding: 2rem;
    border:2px solid rgb(9, 105, 69);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  }
.dummyContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .image{
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  
  
  .title{
    margin-bottom: 10px;
  }
  
  .pageTitle {
    font-size: 64px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .desc{
    font-size: 18px;
    color: #000;
  }

  @media (max-width:701px){
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
  }

  @media (prefers-color-scheme: dark) {
    .desc{
      font-size: 18px;
      color: #999;
    } 
    .container{
      box-shadow: 0 3px 10px rgb(255 255 255 / 0.5);
    }
  }

  .nextBtn{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
  }
  

  .pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }