.title {
    font-size: 40px;
}

.author {
    gap: 10px;
    font-size: 0.875rem;
    padding: 8px;
}

.replyBtn {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    margin-top: 10px;
}

.message {
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Define media query for different screen sizes */
@media (min-width: 576px) {

    /* Adjust container width for small devices */
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    /* Adjust container width for medium devices */
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    /* Adjust container width for large devices */
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    /* Adjust container width for extra-large devices */
    .container {
        max-width: 1140px;
    }
}