.container {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0.4);
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
}
.link:hover{
  font-weight: bold;
  transition: all .4s ease-in-out ;
}
