@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Ubuntu&display=swap');

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
}
.copyright{
    border-left: 2px solid rgb(9, 105, 69);
    margin:0.5rem;
    padding: 0.5rem;
}
.socialProfiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
@media (max-width:701px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .heading{
        display: flex;
        flex-direction: column;
    }
    .copyright{
        border-left: 0px;   
    }
    .socialProfiles{
        gap: 8px;
    }
}